.checkout-page {
    .total {
        margin-top: 3rem;
        font-size: 1.25rem;
    }

    .test-warning {
        text-align: center;
        margin-top: 40px;
        font-size: 24px;
        color: #ff0000;
    }

    button {
        margin-top: 50px;
    }
}