* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed';
}

.main-container {
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #000000;
}